.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f4f6fc;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}


/* Remove spinner arrows from number input */
.no-spinner input[type=number]::-webkit-inner-spin-button,
.no-spinner input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

/* Works for Chrome, Safari, Edge */
input[type=number].no-spinner::-webkit-inner-spin-button,
input[type=number].no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type=number].no-spinner {
  -moz-appearance: textfield;
}